@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'protogrotesk-light';
        src: url('/fonts/proto-grotesk/protogroteskweb-light.eot');
        src: url('/fonts/proto-grotesk/protogroteskweb-light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/proto-grotesk/protogroteskweb-light.woff') format('woff');
    }

    @font-face {
        font-family: 'untitled-sans-regular';
        src: url('/fonts/untitled-sans/WOFF2/untitled-sans-regular.woff2') format('woff2');
    }

    @font-face {
        font-family: 'untitled-sans-light';
        src: url('/fonts/untitled-sans/WOFF2/untitled-sans-light.woff2') format('woff2');
    }

    .display--1 {
        font-family: theme('fontFamily.protogrotesk-light'), sans-serif;
        font-size: 110px;
        line-height: 105%;
        letter-spacing: -0.02em;
        text-transform: uppercase;
    }

    .display--2 {
        font-family: theme('fontFamily.protogrotesk-light'), sans-serif;
        font-size: 80px;
        line-height: 105%;
        letter-spacing: -0.02em;
        text-transform: uppercase;
    }

    .heading--1 {
        font-family: theme('fontFamily.protogrotesk-light'), sans-serif;
        font-size: 60px;
        line-height: 105%;
        letter-spacing: -0.02em;
        text-transform: capitalize;
    }

    .heading--2 {
        font-family: theme('fontFamily.protogrotesk-light'), sans-serif;
        font-size: 32px;
        line-height: 105%;
        letter-spacing: -0.02em;
        text-transform: uppercase;
    }

    .heading--3 {
        font-family: theme('fontFamily.protogrotesk-light'), sans-serif;
        font-size: 24px;
        line-height: 105%;
        letter-spacing: -0.01em;
        text-transform: uppercase;
    }

    .body--1 {
        font-family: theme('fontFamily.untitled-sans-light'), sans-serif;
        font-size: 24px;
        line-height: 125%;
        letter-spacing: -0.02em;
    }

    .body--2 {
        font-family: theme('fontFamily.untitled-sans-regular'), sans-serif;
        font-size: 18px;
        line-height: 125%;
        letter-spacing: -0.01em;
    }

    .body--3 {
        font-family: theme('fontFamily.untitled-sans-light'), sans-serif;
        font-size: 16px;
        line-height: 130%;
        letter-spacing: 0;
    }

    .label--1 {
        font-family: theme('fontFamily.untitled-sans-light'), sans-serif;
        font-size: 14px;
        line-height: 130%;
        letter-spacing: 0;
        text-transform: capitalize;
    }

    .label--2 {
        font-family: theme('fontFamily.protogrotesk-light'), sans-serif;
        font-size: 12px;
        line-height: 105%;
        letter-spacing: 0;
        text-transform: uppercase;
    }

    .text-blur-top {
        color: #ffffff;
        filter: blur(2px);
        -webkit-text-stroke: 2px white;
        -webkit-text-fill-color: white;
    }

    .text-blur-bottom {
        top: 2px;
        left: 2px;
        position: absolute;

        color: white;
        filter: blur(4px);
        -webkit-text-stroke: 6px white;
        -webkit-text-fill-color: white;
    }

    .text-blur-bottom-2 {
        top: 0;
        left: 0;
        position: absolute;

        color: white;
        filter: blur(7px);
        -webkit-text-stroke: 6px white;
        -webkit-text-fill-color: transparent;
        opacity: 0.4;
    }

    .grid-container {
        @apply mx-2 grid grid-cols-4 gap-x-2 md:w-full md:grid-cols-12 md:gap-x-[20px] md:px-8;
    }

    .max-container {
        @apply md:px-8 md:w-full md:px-2;
    }

    .grid-full {
        @apply w-full grid grid-cols-4 gap-x-2 md:grid-cols-12 md:gap-x-[20px];
    }
}