@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply text-black;
    }

    /* Special classname for the Text Blur */
    .display--2--vw {
        font-family: var(--fn-primary);
        font-size: 50px;
        line-height: 105%;
        letter-spacing: -0.02em;
        text-transform: uppercase;
    }

    @screen lg {
        .display--2--vw {
            font-size: 5vw;
        }
    }

    .display--1 {
        font-size: 4.0625rem;
        font-family: var(--fn-secondary);
        font-style: normal;
        font-weight: 300;
        line-height: 105%;
        letter-spacing: -0.08125rem;
        @apply break-words hyphens-manual;
    }


    .display--2 {
        /* Display/Mobile/D2 Proto 50 */
        font-size: 3.125rem;
        font-family: var(--fn-primary);
        font-style: normal;
        font-weight: 300;
        line-height: 105%;
        letter-spacing: -0.0625rem;
        text-transform: uppercase;
    }

    .heading--1 {
        /* Header/Mobile/H1 Proto 40 */
        font-size: 2.5rem;
        font-family: var(--fn-primary);
        font-style: normal;
        font-weight: 300;
        line-height: 105%;
        letter-spacing: -0.05rem;
        text-transform: capitalize;
    }

    .heading--2 {
        /* Header/Mobile/H2 Proto 22 */
        font-size: 1.375rem;
        font-family: var(--fn-primary);
        font-style: normal;
        font-weight: 300;
        line-height: 105%;
        letter-spacing: -0.0275rem;
        text-transform: uppercase;
    }

    .heading--3 {
        /* Header/Mobile/H3 Proto 15 */
        font-size: 0.9375rem;
        font-family: var(--fn-primary);
        font-style: normal;
        font-weight: 300;
        line-height: 105%;
        letter-spacing: -0.00938rem;
        text-transform: uppercase;
    }

    .body--1 {
        /* Body/Mobile/P1 Untitled Light 18 */
        font-size: 1.125rem;
        font-family: var(--fn-secondary);
        font-style: normal;
        font-weight: 300;
        line-height: 125%;
        letter-spacing: -0.0225rem;
    }

    .body--2 {
        /* Body/Mobile/P2 Untitled Reg 16 */
        font-size: 1rem;
        font-family: var(--fn-secondary);
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        letter-spacing: -0.01rem;
    }

    .body--3 {
        /* Body/Mobile/P3 Untitled Light 14 */
        font-size: 0.875rem;
        font-family: var(--fn-secondary);
        font-style: normal;
        font-weight: 300;
        line-height: 130%;
    }

    .label--1 {
        /* Label/Mobile/L1 Untitled Light 12 */
        font-size: 0.75rem;
        font-family: var(--fn-secondary);
        font-style: normal;
        font-weight: 300;
        line-height: 130%;
        text-transform: capitalize;
    }

    .label--2 {
        /* Label/Mobile/L2 Proto 10 */
        font-size: 0.625rem;
        font-family: var(--fn-primary);
        font-style: normal;
        font-weight: 300;
        line-height: 105%;
        text-transform: uppercase;
    }

    @screen md {
        .display--1 {
            /* Display/D1 Proto 110 */
            font-size: 6.875rem;
            font-family: var(--fn-primary);
            font-style: normal;
            font-weight: 300;
            line-height: 105%;
            letter-spacing: -0.1375rem;
            text-transform: uppercase;
            will-change: transform;
        }

        .display--2 {
            /* Display/D2 Proto 80 */
            font-size: 5rem;
            font-family: var(--fn-primary);
            font-style: normal;
            font-weight: 300;
            line-height: 105%;

            letter-spacing: -0.1rem;
            text-transform: uppercase;

        }

        .heading--1 {
            /* Header/H1 Proto 60 */
            font-size: 3.75rem;
            font-family: var(--fn-primary);
            font-style: normal;
            font-weight: 300;
            line-height: 105%;
            letter-spacing: -0.075rem;
            text-transform: capitalize;
        }

        .heading--2 {
            /* Header/H2 Proto 32 */
            font-size: 2rem;
            font-family: var(--fn-primary);
            font-style: normal;
            font-weight: 300;
            line-height: 105%;
            letter-spacing: -0.04rem;
            text-transform: uppercase;
        }

        .heading--3 {
            /* Header/H3 Proto 24 */
            font-size: 1.5rem;
            font-family: var(--fn-primary);
            font-style: normal;
            font-weight: 300;
            line-height: 105%;
            letter-spacing: -0.015rem;
            text-transform: uppercase;
        }

        .body--1 {
            /* Body/P1 Untitled Light 24 */
            font-size: 1.5rem;
            font-family: var(--fn-secondary);
            font-style: normal;
            font-weight: 300;
            line-height: 125%;
            letter-spacing: -0.03rem;
        }

        .body--2 {
            /* Body/P2 Untitled Reg 18 */
            font-size: 1.125rem;
            font-family: var(--fn-secondary);
            font-style: normal;
            font-weight: 400;
            line-height: 125%;
            letter-spacing: -0.01125rem;
        }

        .body--3 {
            /* Body/P3 Untitled Light 16 */
            font-size: 1rem;
            font-family: var(--fn-secondary);
            font-style: normal;
            font-weight: 300;
            line-height: 130%;
        }

        .label--1 {
            /* Label/L1 Untitled Light 14 */
            font-size: 0.875rem;
            font-family: var(--fn-secondary);
            font-style: normal;
            font-weight: 300;
            line-height: 130%;
            text-transform: capitalize;
        }

        .label--2 {
            /* Label/L2 Proto 12 */
            font-size: 0.75rem;
            font-family: var(--fn-primary);
            font-style: normal;
            font-weight: 300;
            line-height: 105%;
            text-transform: uppercase;
        }
    }

    .text-blur {
        color: transparent;
        text-shadow: 0 0 var(--text-blur--sm) hsla(0, 0%, 100%, 1),
        0 0 var(--text-blur--md) hsla(0, 0%, 100%, 1),
        0 0 var(--text-blur--lg) hsla(0, 0%, 100%, 1);
    }


    .text-blur.black {
        text-shadow: 0 0 var(--text-blur--sm) hsl(0, 0%, 0%),
        0 0 var(--text-blur--md) hsl(0, 0%, 0%),
        0 0 var(--text-blur--lg) hsl(0, 0%, 0%);
    }

    @screen md {
        .text-blur {
            color: transparent;
            text-shadow: 0 0 var(--text-blur--sm) hsla(0, 0%, 100%, 1),
            0 0 var(--text-blur--md) hsla(0, 0%, 100%, 1),
            0 0 var(--text-blur--lg) hsla(0, 0%, 100%, 1);
        }


        .text-blur.black {
            text-shadow: 0 0 var(--text-blur--sm) hsl(0, 0%, 0%),
            0 0 var(--text-blur--md) hsl(0, 0%, 0%),
            0 0 var(--text-blur--lg) hsl(0, 0%, 0%);
        }
    }

    .text-blur.verticalRight {
        writing-mode: vertical-lr;
    }

    .text-blur.verticalLeft {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
    }

    .noise-background {
        background: url("/images/footer-noise-background.png") repeat center center;
    }

    .texture-404-background {
        @apply bg-center bg-cover;
        background-image: url("/images/404-background.jpg");
    }

    .texture-background {
        background: url("/images/texture-background.png") repeat center center;
    }

    /* Utilities */
    .grid-container {
        @apply grid grid-cols-4 gap-x-2 px-4 md:w-full md:grid-cols-12 md:gap-x-[20px] md:px-8;
    }

    .grid-container--full {
        @apply grid grid-cols-4 gap-x-2 md:grid-cols-12 md:gap-x-[20px];
    }

    .max-container {
        @apply px-4 md:px-8;
    }

    .mobile-only {
        @apply block md:hidden;
    }

    .mobile-only--flex {
        @apply flex md:hidden;
    }

    .mobile-only--grid {
        @apply grid md:hidden;
    }

    .mobile-only--inline {
        @apply inline-block md:hidden;
    }

    .desktop-only {
        @apply hidden md:block;
    }

    .desktop-only--grid {
        @apply hidden md:grid;
    }

    .desktop-only--flex {
        @apply hidden md:flex;
    }

    .desktop-only--inline {
        @apply hidden md:inline-block;
    }

    .bg-gradient {
        @apply bg-gradient-to-b from-pure-black/30 to-transparent
    }

    video[poster] {
        @apply w-full h-full object-cover;
    }
}


html.lenis {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}