@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --fn-primary: "protogrotesk-light", sans-serif;
        --fn-secondary: "untitled-sans-regular", sans-serif;
        --fn-secondary--light: "untitled-sans-light", sans-serif;
        --color-border: rgba(0, 0, 0, 0.30);
    }

    @font-face {
        font-family: var(--fn-primary);
        src: url("/fonts/proto-grotesk/protogroteskweb-light.eot");
        src: url("/fonts/proto-grotesk/protogroteskweb-light.eot?#iefix") format("embedded-opentype"),
        url("/fonts/proto-grotesk/protogroteskweb-light.woff") format("woff");
    }

    @font-face {
        font-family: var(--fn-secondary);
        src: url("/fonts/untitled-sans/WOFF2/untitled-sans-regular.woff2") format("woff2");
    }

    @font-face {
        font-family: var(--fn-secondary--light);
        src: url("/fonts/untitled-sans/WOFF2/untitled-sans-light.woff2") format("woff2");
    }


    .display--2--vw {
        font-family: var(--fn-primary);
        font-size: 50px;
        line-height: 105%;
        letter-spacing: -0.02em;
        text-transform: uppercase;
    }

    @screen lg {
        .display--2--vw {
            font-size: 5vw;
        }
    }

    body {
        @apply text-black;
    }

    .display--1 {
        font-size: 4.063rem;
        line-height: 105%;
        letter-spacing: -0.02rem;
        text-transform: uppercase;
        font-family: var(--fn-primary);
    }


    @screen md {
        .display--1 {
            font-size: 6.875rem;
            line-height: 105%;
            letter-spacing: -0.02rem;
            text-transform: uppercase;
        }
    }

    .display--2 {
        font-family: var(--fn-primary);
        font-size: 3.125rem;
        line-height: 105%;
        letter-spacing: -0.02rem;
        text-transform: uppercase;
    }

    @screen md {
        .display--2 {
            font-weight: 300;
            font-size: 5rem;
            line-height: 105%;
            letter-spacing: -0.02rem;
            text-transform: uppercase;
        }
    }

    .heading--1 {
        font-family: var(--fn-primary);
        font-size: 3.75rem;
        line-height: 105%;
        letter-spacing: -0.02rem;
        text-transform: capitalize;
    }

    @screen md {
        .heading--1 {
            font-size: 5rem;
            line-height: 105%;
            letter-spacing: -0.02rem;
            text-transform: capitalize;
        }
    }

    .heading--2 {
        font-family: var(--fn-primary);
        font-size: 1.375rem;
        line-height: 105%;
        letter-spacing: -0.02rem;
        text-transform: uppercase;
    }

    @screen md {
        .heading--2 {
            font-size: 2rem;
            line-height: 105%;
            letter-spacing: -0.02rem;
            text-transform: uppercase;
        }
    }

    .heading--3 {
        font-family: var(--fn-primary);
        font-size: 0.938rem;
        line-height: 105%;
        letter-spacing: -0.01rem;
        text-transform: uppercase;
    }

    @screen md {
        .heading--3 {
            font-size: 1.5rem;
            line-height: 105%;
            letter-spacing: -0.01rem;
            text-transform: uppercase;
        }
    }

    .body--1 {
        font-family: var(--fn-secondary--light);
        font-size: 1.125rem;
        line-height: 125%;
        letter-spacing: -0.02rem;
    }

    @screen md {
        .body--1 {
            font-size: 1.5rem;
            line-height: 125%;
            letter-spacing: -0.02rem;
        }
    }

    .body--2 {
        font-family: var(--fn-secondary);
        font-size: 1rem;
        line-height: 125%;
        letter-spacing: -0.01rem;
    }

    @screen md {
        .body--2 {
            font-size: 1.125rem;
            line-height: 125%;
            letter-spacing: -0.01rem;
        }
    }

    .body--3 {
        font-family: var(--fn-secondary--light);
        font-size: 0.875rem;
        line-height: 130%;
    }

    @screen md {
        .body--3 {
            font-size: 1rem;
            line-height: 130%;
            letter-spacing: 0;
        }
    }

    .label--1 {
        font-family: var(--fn-secondary--light);
        font-weight: 300;
        font-size: 0.625rem;
        line-height: 105%;
        text-transform: uppercase;
    }

    @screen md {
        .label--1 {
            font-size: 0.875rem;
            line-height: 130%;
            letter-spacing: 0;
            text-transform: capitalize;
        }
    }

    .label--2 {
        font-family: var(--fn-primary);
        font-size: 0.625rem;
        line-height: 105%;
        text-transform: uppercase;
    }

    @screen md {
        .label--2 {
            font-size: 0.75rem;
            line-height: 105%;
            letter-spacing: 0;
            text-transform: uppercase;
        }
    }

    :root {
        --text-blur--sm: clamp(0.1rem, 1vw, 0.5rem);
        --text-blur--md: clamp(0.1rem, 0.8vw, 0.7rem);
        --text-blur--lg: clamp(0.2rem, 0.5vw, 0.9rem);
    }

    .text-blur {
        color: transparent;
        text-shadow: 0 0 var(--text-blur--sm) hsla(0, 0%, 100%, 1),
        0 0 var(--text-blur--md) hsla(0, 0%, 100%, 1),
        0 0 var(--text-blur--lg) hsla(0, 0%, 100%, 1);
    }


    .text-blur.black {
        text-shadow: 0 0 var(--text-blur--sm) hsl(0, 0%, 0%),
        0 0 var(--text-blur--md) hsl(0, 0%, 0%),
        0 0 var(--text-blur--lg) hsl(0, 0%, 0%);
    }

    .text-blur.verticalRight {
        writing-mode: vertical-lr;
    }

    .text-blur.verticalLeft {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
    }

    .noise-background {
        background: url("public/img/footer-bg-noise.png") repeat center center;
    }

    .grid-container {
        @apply grid grid-cols-4 gap-x-2 px-4 md:w-full md:grid-cols-12 md:gap-x-[20px] md:px-8;
    }

    .grid-container--full {
        @apply grid grid-cols-4 gap-x-2 md:grid-cols-12 md:gap-x-[20px];
    }

    .max-container {
        @apply px-4 md:px-8;
    }

    .mobile-only {
        @apply block md:hidden;
    }

    .mobile-only--flex {
        @apply flex md:hidden;
    }

    .mobile-only--grid {
        @apply grid md:hidden;
    }

    .mobile-only--inline {
        @apply inline-block md:hidden;
    }

    .desktop-only {
        @apply hidden md:block;
    }

    .desktop-only--grid {
        @apply hidden md:grid;
    }

    .desktop-only--flex {
        @apply hidden md:flex;
    }

    .desktop-only--inline {
        @apply hidden md:inline-block;
    }


    @screen md {
        .TableColumn__row-element:first-of-type .TableColumn__cell-element::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: calc(100vw - 4rem);
            height: 1px;
            background: var(--color-border);
        }

        .TableColumn__row-element:first-of-type .TableColumn__cell-group::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: calc(100vw - 4rem);
            height: 1px;
            background: var(--color-border);
        }
    }
}
