.PrimaryCTAButton {
    --btn-height: 2rem;
    --border-width: 0.08rem;
    --border-radius: 3rem;
    --main-color: var(--black);
    --secondary-color: var(--white);
    --duration: 350ms;
    --delay: 50ms;
}

.PrimaryCTAButton {
    color: var(--main-color);
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: calc(var(--btn-height) + var(--border-width));
    border-radius: var(--border-radius);
    white-space: nowrap;
}


.PrimaryCTAButton--dark {
    --main-color: var(--white);
    --secondary-color: var(--black);
}


.PrimaryCTAButton--lg {
    --btn-height: 3.8rem;
    --border-width: 0.18rem;
}

.PrimaryCTAButton:disabled {
    opacity: 0.3;
    cursor: auto;
    pointer-events: none;
}


.PrimaryCTAButton.lg .PrimaryCTAButton__inner {
    padding: 0 0.81rem;
}

.PrimaryCTAButton span {
    z-index: 1;
    position: relative;
}

/* BORDERS */
.PrimaryCTAButton::before,
.PrimaryCTAButton::after {
    z-index: 0;
    content: "";
    top: 0;
    width: 50%;
    height: 100%;
    position: absolute;
    /*background: var(--main-color);*/
    transform: scaleX(0);
    transition-property: transform;
    transition-duration: var(--duration);
    transition-timing-function: var(--ease-hover-out);
    transition-delay: 0ms;
}

.PrimaryCTAButton::before {
    left: 0;
    transform-origin: left;
}

.PrimaryCTAButton::after {
    right: 0;
    transform-origin: right;
}

.PrimaryCTAButton--active::before,
.PrimaryCTAButton--active::after,
.PrimaryCTAButton:hover::before,
.PrimaryCTAButton:hover::after {
    transform: scaleX(100%);
    transition-delay: var(--delay);
    transition-timing-function: var(--ease-hover-in);
}

.PrimaryCTAButton__inner {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-clip: content-box;
}


.PrimaryCTAButton__inner {
    color: var(--main-color);
    transition-property: color;
    transition-duration: var(--duration);
    transition-timing-function: var(--ease-hover-out);
}

.PrimaryCTAButton--active .PrimaryCTAButton__inner,
.PrimaryCTAButton:hover .PrimaryCTAButton__inner {
    color: var(--secondary-color);
}

.PrimaryCTAButton__inner::before,
.PrimaryCTAButton__inner::after {
    z-index: 0;
    content: "";
    position: absolute;
    height: 100%;
    width: var(--btn-height);
    background: var(--main-color);
    border-radius: var(--border-radius);
    transition-delay: 0ms;
    transition-property: width, transform;
    transition-timing-function: var(--ease-hover-out);
    transition-duration: var(--duration);
}


.PrimaryCTAButton__inner::before {
    left: 0;
    transform: translateX(calc(-100% - var(--border-width)));
}

.PrimaryCTAButton__inner::after {
    right: 0;
    transform: translateX(calc(100% + var(--border-width)));
}

.PrimaryCTAButton--active .PrimaryCTAButton__inner::before,
.PrimaryCTAButton--active .PrimaryCTAButton__inner::after,
.PrimaryCTAButton:hover .PrimaryCTAButton__inner::before,
.PrimaryCTAButton:hover .PrimaryCTAButton__inner::after {
    width: calc(50% + 2rem);
    transform: translateX(0%);
    transition-delay: var(--delay);
    transition-timing-function: var(--ease-hover-in);
}

.PrimaryCTAButton__parenthesisL, .parenthesisR {
    line-height: 0;
    color: var(--main-color);
    transition-property: transform;
    transition-duration: var(--duration);
    transition-timing-function: var(--ease-hover-out);
}

.PrimaryCTAButton--active .PrimaryCTAButton__parenthesisL,
.PrimaryCTAButton:hover .PrimaryCTAButton__parenthesisL {
    color: var(--main-color);
    transform: translateX(-110%);
    transition-timing-function: var(--ease-hover-in);
}

.PrimaryCTAButton--active .PrimaryCTAButton__parenthesisR,
.PrimaryCTAButton:hover .PrimaryCTAButton__parenthesisR {
    color: var(--main-color);
    transform: translateX(110%);
    transition-timing-function: var(--ease-hover-in);
}