@font-face {
    font-family: 'Untitled Sans';
    src: url('UntitledSans-Black.eot');
    src: url('UntitledSans-Black.eot?#iefix') format('embedded-opentype'),
        url('UntitledSans-Black.woff2') format('woff2'),
        url('UntitledSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Untitled Sans';
    src: url('UntitledSans-Bold.eot');
    src: url('UntitledSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('UntitledSans-Bold.woff2') format('woff2'),
        url('UntitledSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Untitled Sans';
    src: url('UntitledSans-Light.eot');
    src: url('UntitledSans-Light.eot?#iefix') format('embedded-opentype'),
        url('UntitledSans-Light.woff2') format('woff2'),
        url('UntitledSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Untitled Sans';
    src: url('UntitledSans-BoldItalic.eot');
    src: url('UntitledSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('UntitledSans-BoldItalic.woff2') format('woff2'),
        url('UntitledSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Untitled Sans';
    src: url('UntitledSans-BlackItalic.eot');
    src: url('UntitledSans-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('UntitledSans-BlackItalic.woff2') format('woff2'),
        url('UntitledSans-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Untitled Sans';
    src: url('UntitledSans-RegularItalic.eot');
    src: url('UntitledSans-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('UntitledSans-RegularItalic.woff2') format('woff2'),
        url('UntitledSans-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Untitled Sans';
    src: url('UntitledSans-LightItalic.eot');
    src: url('UntitledSans-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('UntitledSans-LightItalic.woff2') format('woff2'),
        url('UntitledSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Untitled Sans';
    src: url('UntitledSans-Medium.eot');
    src: url('UntitledSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('UntitledSans-Medium.woff2') format('woff2'),
        url('UntitledSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Untitled Sans';
    src: url('UntitledSans-Regular.eot');
    src: url('UntitledSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('UntitledSans-Regular.woff2') format('woff2'),
        url('UntitledSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Untitled Sans';
    src: url('UntitledSans-MediumItalic.eot');
    src: url('UntitledSans-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('UntitledSans-MediumItalic.woff2') format('woff2'),
        url('UntitledSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

